
    <div class="col-md-6 col-md-offset-3">
        <!--ng-controller="tripscontroller" automaticlaly assigned by the route-->

        <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <table class="table table-responsive table-striped">

            

            <tr ng-repeat="trip in vm.trips">
                <td>{{ trip.name }}</td>
                <td>{{ trip.created | date:'MM-dd-yyyy' }}</td>
                <td><a ng-href="#/editor/{{ trip.name }}" class="btn btn-sm btn-primary">Manage</a></td>
                <!--#/editor comes from Route (app-trip)-->

            </tr>
        </table>

        <form novalidate name="newTripForm" ng-submit="vm.addTrip()">
            <div class="form-group">
                <label for="name">Trip Name</label>
                <input class="form-control" type="text" id="name" name="name" ng-model="vm.newTrip.name" required ng-minlength="5" />
                <span ng-show="newTripForm.name.$error.required" class="text-warning">Name is required.</span>
                <span ng-show="newTripForm.name.$error.minlength" class="text-warning">Name must be at least five characters.</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add"
                       class="btn btn-success btn-sm"
                       ng-disabled="newTripForm.$invalid" />
            </div>
        </form>

    </div>
 

 
    <!--/essentially bootstrapping our trips page with new module called app trips-->
    <!--<div class="col-md-6 col-md-offset-3">
        <!--//show if error getting data. show if error exists add:  -->
        <!--<div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>

        <!--show if server busy or taking time, and use font awesome icons, crete spinner icon and spin to rotate it-->
        <!--Replace this with Directive (reusable code; -simpleControls.js)-->
        <!-- <div ng-show="vm.isBusy" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading...</div>-->
        <!--<wait-cursor ng-show="vm.isBusy"></wait-cursor>/wait-cursor>-->
        <!--<wait-cursor ng-show="true"></wait-cursor>-->
        <!--<wait-cursor display-when="vm.isBusy"></wait-cursor>


        <!--create table using bootstrap table classes-->
        <!--<table class="table table-responsive table-striped">
            <!--{ vm.name }-->
            <!--repeat - Walk though collections and build up the mark up-->
            <!--trip in vmtrips angular is like a for each statement; variable trip,for each one, in vmtrips,and create new row for each-->
            <!--<tr ng-repeat="trip in vm.trips">
                <!--specify Column detail-->
                <!--Data binding syntax allows for filtersl: filters are formatters or small pieces of code use with pipe "|" and name of filer -->
                <!-- Filter camn be eg: |date ;will be default date: April 20, 2017-->
                <!--Filer or customize; |date:'shortDate' or 'MM-dd-yyyy'  -->

                <!--<td>{{ trip.name }}</td>
                <!--<td>{{ trip.created | date:'MM-dd-yyyy' }}</td>
                <!--Add manage button - no data binding-->
                <!--Change this to link over to our route<td><a href="#" class="btn btn-sm btn-primary">Manage</a> </td>
                #/editor comes from route. # tells browser that it is an interpage link-->
                <!--<td><a ng-href="#/editor/{{ trip.name }}" class="btn btn-sm btn-primary">Manage</a></td>
            </tr>
        </table>

        <!-- #region newTripForm -->
        <!--Create form and specify no validate, give name of New trip form-->
        <!--the ng-submit  on top will handle the "add" btn, notice parenthesis - tells it to call the add trip function, specified on our VM-->
        <!--..so means we need a vm. add trip .. on trip controller-->
        <!--<form novalidate name="newTripForm" ng-submit="vm.addTrip()">
            <div class="form-group">
                <label for="name">Trip Name</label>
                <!--if someone clicks on label itself(name) takes them to this input. Also add directive called NG- model the..
                vm.newtrip.name specifies the property to set when someone types in this control. If it doesnt exist it will crete the new property-->
            <!--    <input class="form-control" type="text" id="name" name="name" ng-model="vm.newTrip.name" required ng-minlength="5" />
                <!--<span ng-show="newTripForm.name.$error.required">Name is Required</span> ...give it a class to say warning-->
                <!--<span ng-show="newTripForm.name.$error.required" class="text-warning">Name is Required</span>
                <span ng-show="newTripForm.name.$error.minlength" class="text-warning">Name must be at least five characters</span>

            </div>
            <div class="form-group">
                <!--also add some bootstrap classes to support sumbit look-->
                <!--the ng-submit  on top will handle the "add" btn-->
              <!--  <input type="submit" value="Add"
                       class="btn btn-success btn-sm"
                       ng-disabled="newTripForm.$invalid" /> <!--if form invalid - disable the control-->
    <!--      <!--  </div>
        </form>

    </div>
</div> -->




