@{
    ViewBag.Title = "About Page"; //do this so we can inject this directly into the layout page

}
<h2>System Created as Platform for Future .Net Core Apps</h2>
 
<p> Cloud and Hybrid Framework Solutions</p>
<p>

    <img src="~/css/img/self.JPG" alt="headshot" class="headshot" /> />
    <div><h4>Mark Anderson </h4><i> The CodeMonkey </i><h3> Engineer / Developer / Researcher</h3></div>
<p>
    Mark graduated with a Computer Science degree summa cum laude. Mark has been a leading software developer for over fifteen years, with another 15 years in the Financial Sector.
    Acquired a vast knowledge from Conferences and continuous research on latest technology. As a developer and consultant, he has developed legacy systems  and web sites for
    several companies and institutions.
</p>